/* Colors palette */

:root{
    --light: #ffffff;
    --light-blue: #3A546D;
    --blue: #2C3E50;
    --green: #1ABC9C;
    --gray: #888888;
    --dark: black;
}

/* reset */
ul, ol, menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

input{
    border: none;
    outline: none;
    color: var(--blue);
}


/* Utility */

.container__small{
    max-width: 980px;
}

.container__large{
    max-width: 1140px;
}

.text-blue{
    color: var(--blue);
}

.text-green{
    color: var(--green);
}


/* header */

header{
    background-color: var(--blue);
}

.page-header{
    color: var(--light);
}

.menu-icon{
    color: var(--gray);
    font-size: 18px;
}

/* hero */

.hero{
    background-color: var(--green);
    color: var(--light);
}

.hero__img{
    width: 230px;
}

.star__icon{
    position: relative;
    font-size: 30px;
}

.left-line::before{
    display: block;
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 100px;
    height: 5px;
    right: 100%;
    top: 50%;
    border-radius: 999px;
}

.right-line::after{
    display: block;
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 100px;
    height: 5px;
    left: 100%;
    top: 50%;
    border-radius: 999px;
}

/* About */


.about{
    background-color: var(--green);
    color: var(--light);
}


/* Contact me */

input{
    color: var(--blue);
}

.contact-button{
    background-color: var(--green);
    color: var(--light);
}

.form-control{
    border: none;
    padding: 0;
}
/* footer */

footer{
    color: var(--light);
}

.footer__main{
    background-color: var(--light-blue);
}

.footer__copyright{
    background-color: var(--blue);
}

.border__circle{
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 10px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* debug */

.debug [class^="col"]{
    border: 1px solid black;
    padding: 20px;
}

.debug section{
    padding: 50px 0px;
}