/* Colors palette */

:root{
    --light: #ffffff;
    --light-blue: #3A546D;
    --blue: #2C3E50;
    --green: #1ABC9C;
    --gray: #888888;
    --dark: black;
}

/* reset */
ul, ol, menu{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

/* Utility */

.container__small{
    max-width: 980px;
}

.container__large{
    max-width: 1140px;
}

.text-blue{
    color: var(--blue);
}



/* header */

header{
    background-color: var(--blue);
}

.page-header{
    color: var(--light);
}

.menu-icon{
    color: var(--gray);
    font-size: 18px;
}

/* hero */

.hero{
    background-color: var(--green);
    color: var(--light);
}

.hero__img{
    width: 230px;
}

.star__icon{
    position: relative;
    font-size: 30px;
}

.left-line::before{
    display: block;
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 100px;
    height: 5px;
    right: 100%;
    top: 50%;
    border-radius: 999px;
}

.right-line::after{
    display: block;
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 100px;
    height: 5px;
    left: 100%;
    top: 50%;
    border-radius: 999px;
}

/* Portfolio */





/* About */


.about{
    background-color: var(--green);
    color: var(--light);
}



/* footer */

footer{
    color: var(--light);
}

.footer__main{
    background-color: var(--light-blue);
}

.footer__copyright{
    background-color: var(--blue);
}
/* debug */

.debug [class^="col"]{
    border: 1px solid black;
    padding: 20px;
}

.debug section{
    padding: 50px 0px;
}